basePath: /v2
definitions:
  model.CosmeticBadge:
    properties:
      id:
        type: string
      misc:
        type: boolean
      name:
        type: string
      tooltip:
        type: string
      urls:
        items:
          items:
            type: string
          type: array
        type: array
      users:
        items:
          type: string
        type: array
    type: object
  model.CosmeticPaint:
    properties:
      angle:
        type: integer
      color:
        type: integer
      drop_shadows:
        items:
          $ref: '#/definitions/model.CosmeticPaintDropShadow'
        type: array
      function:
        type: string
      id:
        type: string
      image_url:
        type: string
      name:
        type: string
      repeat:
        type: boolean
      shape:
        type: string
      stops:
        items:
          $ref: '#/definitions/model.CosmeticPaintGradientStop'
        type: array
      users:
        items:
          type: string
        type: array
    type: object
  model.CosmeticPaintDropShadow:
    properties:
      color:
        type: integer
      radius:
        type: number
      x_offset:
        type: number
      y_offset:
        type: number
    type: object
  model.CosmeticPaintGradientStop:
    properties:
      at:
        type: number
      color:
        type: integer
    type: object
  model.CosmeticsMap:
    properties:
      badges:
        items:
          $ref: '#/definitions/model.CosmeticBadge'
        type: array
      paints:
        items:
          $ref: '#/definitions/model.CosmeticPaint'
        type: array
    type: object
  model.Emote:
    properties:
      height:
        items:
          type: integer
        type: array
      id:
        type: string
      mime:
        type: string
      name:
        type: string
      owner:
        $ref: '#/definitions/model.User'
      status:
        type: integer
      tags:
        items:
          type: string
        type: array
      urls:
        items:
          items:
            type: string
          type: array
        type: array
      visibility:
        type: integer
      visibility_simple:
        items:
          type: string
        type: array
      width:
        items:
          type: integer
        type: array
    type: object
  model.Role:
    properties:
      allowed:
        type: integer
      color:
        type: integer
      denied:
        type: integer
      id:
        type: string
      name:
        type: string
      position:
        type: integer
    type: object
  model.User:
    properties:
      display_name:
        type: string
      id:
        type: string
      login:
        type: string
      role:
        $ref: '#/definitions/model.Role'
      twitch_id:
        type: string
    type: object
host: api.7tv.app
info:
  contact:
    email: dev@7tv.io
    name: 7TV Developers
    url: https://discord.gg/7tv
  description: This is the former v2 REST API for 7TV (deprecated)
  license:
    name: Apache 2.0 + Commons Clause
    url: https://github.com/SevenTV/REST/blob/dev/LICENSE.md
  termsOfService: TODO
  title: 7TV REST API
  version: "2.0"
paths:
  /cosmetics:
    get:
      description: Get all active cosmetics and the users assigned to them
      parameters:
      - description: one of 'object_id', 'twitch_id' or 'login'
        in: query
        name: user_identifier
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.CosmeticsMap'
      summary: Get Cosmetics
      tags:
      - cosmetics
  /users/{user}/emotes:
    get:
      description: List the channel emotes of a user
      parameters:
      - description: User ID, Twitch ID or Twitch Login
        in: path
        name: user
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Emote'
            type: array
      summary: Get Channel Emotes
      tags:
      - users
      - emotes
schemes:
- https
swagger: "2.0"
