basePath: /v3
definitions:
  model.CosmeticBadge:
    properties:
      id:
        type: string
      misc:
        type: boolean
      name:
        type: string
      tooltip:
        type: string
      urls:
        items:
          items:
            type: string
          type: array
        type: array
      users:
        items:
          type: string
        type: array
    type: object
  model.CosmeticPaint:
    properties:
      angle:
        type: integer
      color:
        type: integer
      drop_shadows:
        items:
          $ref: '#/definitions/model.CosmeticPaintDropShadow'
        type: array
      function:
        type: string
      id:
        type: string
      image_url:
        type: string
      name:
        type: string
      repeat:
        type: boolean
      shape:
        type: string
      stops:
        items:
          $ref: '#/definitions/model.CosmeticPaintGradientStop'
        type: array
      users:
        items:
          type: string
        type: array
    type: object
  model.CosmeticPaintDropShadow:
    properties:
      color:
        type: integer
      radius:
        type: number
      x_offset:
        type: number
      y_offset:
        type: number
    type: object
  model.CosmeticPaintGradientStop:
    properties:
      at:
        type: number
      color:
        type: integer
    type: object
  model.CosmeticsMap:
    properties:
      badges:
        items:
          $ref: '#/definitions/model.CosmeticBadge'
        type: array
      paints:
        items:
          $ref: '#/definitions/model.CosmeticPaint'
        type: array
    type: object
  model.Emote:
    properties:
      id:
        description: The emote's ID
        type: string
      name:
        description: The emote's name
        type: string
    type: object
host: 7tv.io
info:
  contact:
    email: dev@7tv.io
    name: 7TV Developers
    url: https://discord.gg/7tv
  description: This is the REST API for 7TV
  license:
    name: Apache 2.0 + Commons Clause
    url: https://github.com/SevenTV/REST/blob/dev/LICENSE.md
  termsOfService: TODO
  title: 7TV REST API
  version: "3.0"
paths:
  /emotes:
    get:
      description: Search for emotes
      parameters:
      - description: search by emote name / tags
        in: query
        name: query
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Emote'
            type: array
      summary: Search Emotes
      tags:
      - emotes
    post:
      consumes:
      - image/webp
      - ' image/gif'
      - ' image/png'
      - ' image/apng'
      - ' image/avif'
      - ' image/jpeg'
      - ' image/tiff'
      - ' image/webm'
      description: Upload a new emote
      parameters:
      - description: Initial emote properties
        in: header
        name: X-Emote-Data
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/model.Emote'
      summary: Create Emote
      tags:
      - emotes
schemes:
- https
swagger: "2.0"
